:root {
    --main-background-color: #FFFFFF;
    --sec-background-color: #F5F4FA;
    --dark-background-color: #2F303A;
    --alt-background-color: #2196F3;

    --main-text-color:#212121;
    --hover-text-color:#2196F3;
    --sec-text-color:#757575;
    --alt-text-color:#FFFFFF;
    --social-text-color:#AFB1B8;

}

body {
 background-color: var(--main-background-color);
 font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
li {
padding: 0px;
margin: 0px;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
main {
    border-top: 1px solid rgba(236, 236, 236, 1) ;
}
h1 {
    margin: 0px;
    padding: 0px;
}
h2 {
    margin: 0px;
    padding: 0px;
}
h3 {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
img {
    padding: 0px;
    margin: 0px;
}
/*цвет основного текста #212121, 100%*/
/*цвет вторичного текста #757575, 100%*/
/*цвет белого текста #FFFFFF */
/*цвет синего текста #2196F3*/  
/*вторичный цвет фона #F5F4FA*/

.site-nav .link {
     color: var(--main-text-color);
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.02em;
     display: inline-flex;
     justify-content:space-between;
     margin: 0px;
 }
 .site-nav li:not(:last-child){
     padding-right: 50px;
 }
 header {
     display: flex;
    flex-direction:row;
    align-items: baseline;
    padding-bottom: 32px;
    padding-top: 32px;
    justify-content: space-between;
 }
 .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
 header nav {
    display: inline-flex;
    flex-direction:row;
    align-items: center;
 }
 .head-ico{
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    box-sizing: border-box;
    fill: currentColor;

 }
 .head-ico:hover,
 .head-ico:focus{
    color: var(--hover-text-color);
 }
 .site-nav {
    display: inline-flex;
    flex-direction:row; 
    align-items: center;
    margin-left: 93px;
    margin-right: 200px;
 }
.site-nav .link:hover ,
.site-nav .link:focus{
    color: var(--hover-text-color);
}
.contact-link {
    color: var(--sec-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding-right: 49px;
}
.contact-link:hover,
.contact-link:focus{
    color: var(--hover-text-color);
}
.blackboard {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 198.1px;
    background-image: linear-gradient(
        to top left,
        rgba(47,48,58,0.4), 
        rgba(47,48,58,0.4)
        ),
        url("../images/blackboard.jpg");
    max-width:  1600px;
    background-color:var(--dark-background-color);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blackboard button {
text-align: center;
color: var(--alt-text-color);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
background-color:var(--alt-background-color);
padding: 10px 32px;
border-radius: 4px;
box-shadow: 0px 4px 4px var(--main-text-color);
border: 0px;
}
.blackboard .hero-title{
    color: var(--main-background-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}
.blackboard h1{
    margin-bottom: 30px;
}
.hero-title:hover,
.hero-title:focus{
    color: var(--hover-text-color);
}
.hiden-text{display: none;}
.section-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
}
.facility {
    padding-top:88px ;
    padding-bottom: 92px;
}
.wwd{
    display: inline-flex;
    flex-direction:row;
}
.wwd li{
    display: flex;
    flex-basis: calc(100% / 3);
    justify-content: space-between;
    margin-left: 30px;
}
.wwd li:first-child{
    margin-left: 0px;
    margin-right: 0px;
}
.team-board {
    background-color: var(--sec-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team h3{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.team {
    text-align: center;
    display: inline-flex;
    flex-direction:row;
    justify-content: space-between;
}
.team .team-mate {
    margin-left: 30px;
    background-color: var(--main-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team .team-mate:first-child{
    margin-left: 0px;
    margin-right: 0px;
}
.team p {
    text-align: center;
    color: var(--sec-text-color);
}
.team p::after {
    display: inline-flex;
}
.socials {
    display: flex;
    flex-basis: calc(100% / 4);
    justify-content: center;
}
.socials .item:not(:last-child) {
    margin-right: 10px;
}
.social-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    border-radius: 50%;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    color: var(--social-text-color);
}
.social-button:focus,
.social-button:hover {
    background-color: var(--alt-background-color);
    color: var(--main-background-color);
}
.team-icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.our-benefits {
    padding-top: 100px;
}
.adv {
    display: inline-flex;
    flex-direction:row;
}
.adv li {
    box-sizing: border-box;
  flex-basis: calc(100% / 4 - 10px);
  margin-left: 30px;
}
.pic-ido {
    display: flex;
    height: 120px;
    background-color: var(--sec-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    justify-content: center;
    align-items: center;
}   
.adv-ico{
    width: 70px;
    height: 70px;
}
.adv li:first-child:{
    margin-left: 0px;
    margin-right: 0px;
}
.adv li:last-child{
    margin-right: 0px;
}
.adv p {
    text-align: left;
    color: var(--sec-text-color);
    font-style:  normal;
    font-weight: 400;
    font-size: 14px;
    line-height:24px;
    letter-spacing: 0.03em;
}
.adv h3 {
    text-align: left;
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 10px;
    
}
footer {
    background-color:var(--dark-background-color);
    padding-bottom: 60px;
    padding-top: 60px;
}
footer p {
    margin-bottom:20px;
}
address {
    color: var(--main-background-color);
    font-weight:  400;
    font-style: normal;
    font-size: 14px;
}
.logo {
    color:#2196F3;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
}
.link {
    color: var(--main-text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}
.alt-logo {
    color: var(--alt-text-color);
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.filter .link {
    background-color: var(--sec-background-color);
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;

}
.filter button:hover,
.filter button:focus {
    background-color: var(--alt-background-color);
    color: var(--alt-text-color);
}
.project {
    text-align: center;
    padding-top: 94px;
    justify-content: space-between;
    padding-bottom: 94px;
}
.portfolio h3 {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
.portfolio p {
    color: var(--sec-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.project .filter {
    display: inline-flex;
    flex-direction:row;
}
.filter li {
    padding-left: 8px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-basis: calc(100% / 3);
    justify-content: space-between;
}
.project-name {
text-align: left;
box-sizing: border-box;
  /*  Задаём ширину элементов  */
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;
  background: #FFFFFF;
}
.project-name:hover,
.project-name:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-name:nth-last-child(-n+3){
    margin-bottom: 0px
}
.chapter {
    padding: 20px 24px;
}
.dude {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height:280%
}
.go_to {
    text-align: left;
    line-height:180%;
}
.our-clients {
    background-color: var(--main-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.client {
    display: inline-flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.cli-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    padding: 0px;
    color: var(--social-text-color);
}
.cli-link:hover,
.cli-link:focus{
    border-color: var(--alt-background-color);
}
.cli-ico{
    width: 50%;
    height: 50%;
    fill: currentColor;
}
.cli-ico:hover,
.cli-ico:focus{
    fill: var(--alt-background-color) ;
}
.connect{
    display: inline-block;
    flex-direction:column;
    padding-left:312px ;
    text-align: left;
    align-self:baseline;
}
.connect h3 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--alt-text-color);
padding-bottom: 20px;
}
.socials-foot {
    display: flex;
    flex-basis: calc(100% / 4);
    justify-content: left;
}
.socials-foot .item-foot:not(:last-child) {
    margin-right: 10px;
}
.socials-foot .item-foot:nth-child(-3n+3) {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.social-button-foot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color:  #424246;
    border-radius: 50%;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    color: var(--alt-text-color);
}
.social-button-foot:focus,
.social-button-foot:hover {
    background-color: var(--alt-background-color);
    color: var(--main-background-color);
}
.team-icon-foot{
    width: 20px;
    height: 20px;
    fill: currentColor;
}